ui-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

ui-view.ng-enter,
ui-view.ng-leave {
    position:absolute;
    transition:0.5s all;
    -moz-transition:0.5s all;
    -webkit-transition:0.5s all;
}

#widget.list ui-view.ng-enter {
    animation:slideInLeft .5s both;
}

#widget.list ui-view.ng-leave {
    animation:slideOutRight .5s both;
}

#widget.add ui-view.ng-enter,
#widget.edit ui-view.ng-enter {
    animation:slideInRight .5s both;
}

#widget.add ui-view.ng-leave,
#widget.edit ui-view.ng-leave {
    animation:slideOutLeft .5s both;
}


#share table th {
    font-size: 16px;
}

#share .shared-user {
    position: relative;
}

#share .shared-user-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

#share .shared-user-text {
    padding-left: 45px;
    line-height: 35px;
    font-size: 16px;
}



.btn-switch {
    position: relative;
    display: block;
    width: 75px;
    height: 25px;
    cursor: pointer;
    background-color: #F27878;
    border: 2px solid #F27878;
    border-radius: 40px;
}


.btn-switch .off-text {
    position: absolute;
    right: 10px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.btn-switch .on-text {
    position: absolute;
    left: 10px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}


.btn-switch-circle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border-radius: 40px;
}


.btn-switch--on {
    background-color: #80CDBE;
    border: 2px solid #80CDBE;
}


.btn-switch-circle--on {
    left: auto;
    right: 0;
}


.drop-box {
    border: 3px dashed lightgray;
    background-color: #F8F8F8;
    width: 100%;
    height: 150px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.drop-box-image {
    font-size: 50px;
    margin-top: 40px;
    opacity: 0.5;
}

.dragover {
    border-color: #ffab5f;
}