<od-widget widget-title="Notizen" template="tpl-small-header">
    <od-widget-header>
    </od-widget-header>
    <od-widget-content nospacing>

        <div class="panel-spacing" ng-if="!ctrl.loaded">
            <od-loader></od-loader>
        </div>

        <div class="panel-spacing" ng-if="ctrl.loaded">
            <input class="form-control" type="text" ng-model="ctrl.note.title" placeholder="Titel" style="margin-bottom:20px;">
            <div ckeditor="{ height:'170px' }" ng-model="ctrl.note.body"></div>
        </div>

    </od-widget-content>
    <od-widget-footer ng-if="ctrl.loaded">
        <button type="button" class="btn" ng-click="ctrl.$state.go('list')"><i class="glyphicon glyphicon-remove"></i> Abbrechen</button>
        <button type="button" class="btn" ng-click="ctrl.saveNote();"><i class="glyphicon glyphicon-floppy-disk"></i> Speichern</button>

        <span ng-if="!ctrl.isNew">
            <button type="button" class="btn" ng-click="ctrl.deleteNote();"><i class="glyphicon glyphicon-trash"></i> Löschen</button>
            <button type="button" class="btn" ng-click="ctrl.shareNote();"><i class="glyphicon glyphicon-share"></i> Teilen</button>
            <button type="button" class="btn" ng-click="ctrl.noteToTask();"><i class="glyphicon glyphicon-tasks"></i> Als&nbsp;Aufgabe</button>
        </span>
    </od-widget-footer>
</od-widget>