<od-widget widget-title="Notizen" template="tpl-small-header">
    <od-widget-header>
    </od-widget-header>
    <od-widget-content nospacing>

        <div class="panel-spacing" ng-if="!ctrl.loaded">
            <od-loader></od-loader>
        </div>

        <div class="panel-spacing" ng-if="ctrl.loaded">
            <button class="btn btn-link" ng-if="!ctrl.showTitle" ng-click="ctrl.showTitle = true;">+ Title hinzufügen</button>

            <input class="form-control" type="text" ng-model="ctrl.note.title" placeholder="Titel" style="margin-bottom:20px;" ng-if="ctrl.showTitle">

            <div ckeditor="{ height:'170px' }" ng-model="ctrl.note.body"></div>
        </div>

    </od-widget-content>
    <od-widget-footer ng-if="ctrl.loaded">
        <button type="button" class="btn" ng-click="ctrl.$state.go('list')"><i class="glyphicon glyphicon-remove"></i> Abbrechen</button>
        <button type="button" class="btn" ng-click="ctrl.saveNote();" ng-if="ctrl.canSave()"><i class="glyphicon glyphicon-floppy-disk"></i> Speichern</button>

        <span ng-if="!ctrl.isNew">
            <button type="button" class="btn" ng-click="ctrl.deleteNote();" tooltip-placement="top" uib-tooltip="Löschen" ng-if="ctrl.canSave()"><i class="glyphicon glyphicon-trash"></i></button>
            <button type="button" class="btn" ng-click="ctrl.openFileManagement();" tooltip-placement="top" uib-tooltip="Dateien"><i class="glyphicon glyphicon-file"></i></button>
            <button type="button" class="btn" ng-click="ctrl.shareNote();" tooltip-placement="top" uib-tooltip="Teilen" ng-if="ctrl.canSave()"><i class="glyphicon glyphicon-share"></i></button>
            <button type="button" class="btn" ng-click="ctrl.noteToTask();" tooltip-placement="top" uib-tooltip="Als Aufgabe" ng-if="ctrl.canSave()"><i class="glyphicon glyphicon-tasks"></i></button>
        </span>
    </od-widget-footer>
</od-widget>