<od-widget widget-title="Notizen" template="tpl-small-header">
    <od-widget-header>
    </od-widget-header>
    <od-widget-content nospacing>

        <div class="panel-spacing" ng-if="!ctrl.loaded">
            <od-loader></od-loader>
        </div>

        <div class="panel-spacing" ng-if="ctrl.loaded">
            <div class="col-xs-12">
                <h2>Taskliste auswählen:</h2>
            </div>

            <div class="col-xs-12" style="margin-bottom: 30px;">
                <select name="tasklist" id="tasklist" class="form-control" ng-model="ctrl.tasklistId">
                    <option value="null">Bitte auswählen...</option>
                    <option ng-repeat="item in ctrl.tasklist" value="{{item.id}}">{{item.title}}</option>
                </select>
            </div>

            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-block" ng-click="ctrl.cancel()">Abbrechen</button>
            </div>

            <div class="col-xs-6">
                <button type="button" class="btn btn-primary btn-block" ng-click="ctrl.convert()" ng-disabled="ctrl.tasklistId === 'null'">
                    Notiz "{{ctrl.note.title}}" in Aufgabe umwandeln
                </button>
            </div>

            <div class="col-xs-12" style="margin-top: 30px;" ng-if="ctrl.showNewAdded">
                <div class="alert alert-success">
                    <span class="icon icon-info"></span>
                    Aufgabe wurde erfolgreich erstellt!
                </div>
            </div>
        </div>

    </od-widget-content>
</od-widget>