<od-widget widget-title="Notizen" template="tpl-small-header">
    <od-widget-header></od-widget-header>
    <od-widget-content nospacing>
        <div ng-if="editController.loaded">
            <oddc-noteeditor note="editController.currentNote" on-delayed-note-change="editController.updateNote();"></oddc-noteeditor>
        </div>
        <div ng-if="!editController.loaded">
            <od-loader></od-loader>
        </div>

    </od-widget-content>
    <od-widget-footer>
        <button type="button" class="btn btn-panel btn-xs icon-save" ng-click="editController.deleteNote();">Löschen</button>
    </od-widget-footer>
</od-widget>